In [19]:
from shapely.geometry import Point
import pandas as pd
import datetime

### Imports above, DF creation below

In [5]:
traffic_df = pd.read_csv('../Data/Traffic_Accidents.csv', low_memory=False)

In [43]:
covid_df = pd.read_excel('../Data/Covid_county.XLSX')

# Traffic cleaning

### Par down to Nashville, Drop unnecessary columns

In [26]:
nash_traffic_df = traffic_df[traffic_df['City'] == 'NASHVILLE']
nash_traffic_df = nash_traffic_df.drop(columns = ['Collision Type Code', 'RPA', 'Precinct', 'Illumination Description', 'Illumination Code', 'Weather Code', 'Weather Description', 'Reporting Officer', 'Mapped Location'])

### Creation of month and year columns for sorting

In [28]:
traffic_date = pd.to_datetime(nash_traffic_df['Date and Time'])
nash_traffic_df['Date and Time'] = traffic_date

In [33]:
nash_traffic_df['month'] = nash_traffic_df['Date and Time'].dt.month
nash_traffic_df['year'] = nash_traffic_df['Date and Time'].dt.year

In [38]:
nash_traffic_df = nash_traffic_df.sort_values(by='Date and Time')
nash_traffic_df

,Accident Number,Date and Time,Number of Motor Vehicles,Number of Injuries,Number of Fatalities,Property Damage,Hit and Run,Collision Type Description,Harmful Code,Harmful Description,Street Address,City,State,ZIP,Latitude,Longitude,month,year
120561,20130000050,2013-01-01 00:15:00,2.0,3.0,0,False,False,ANGLE,12,MOTOR VEHICLE IN TRANSPORT,MONROE ST & ROSA L PARKS BLVD,NASHVILLE,TN,37208.0,36.1753,-86.7927,1,2013
117666,20130000160,2013-01-01 00:45:00,2.0,1.0,0,False,False,REAR END,12,MOTOR VEHICLE IN TRANSPORT,1306 VULTEE BLVD,NASHVILLE,TN,37217.0,36.1247,-86.6997,1,2013
129877,20130000123,2013-01-01 00:45:00,2.0,0.0,0,False,False,REAR END,12,MOTOR VEHICLE IN TRANSPORT,3810 KINGS LN,NASHVILLE,TN,37218.0,36.2180,-86.8424,1,2013
128438,20130000142,2013-01-01 01:00:00,2.0,0.0,0,False,False,REAR END,12,MOTOR VEHICLE IN TRANSPORT,1011 DEMONBREUN ST,NASHVILLE,TN,37203.0,36.1559,-86.7830,1,2013
123905,20130000138,2013-01-01 01:05:00,1.0,1.0,0,False,False,NOT COLLISION W/MOTOR VEHICLE-TRANSPORT,08,PEDESTRIAN,10TH AVE N & BROADWAY,NASHVILLE,TN,37203.0,36.1580,-86.7843,1,2013
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
112973,20200749345,2020-12-05 17:02:00,2.0,0.0,0,NaN,True,SIDESWIPE - SAME DIRECTION,12,MOTOR VEHICLE IN TRANSPORT,MM 53 7 I 24,NASHVILLE,TN,37211.0,36.1097,-86.7216,12,2020
113117,20200749410,2020-12-05 17:36:00,2.0,0.0,0,NaN,False,SIDESWIPE - SAME DIRECTION,12,MOTOR VEHICLE IN TRANSPORT,FRANKLIN PKE & ROBERTSON ACADEMY RD,NASHVILLE,TN,37220.0,36.0813,-86.7726,12,2020
113078,20200749454,2020-12-05 17:58:00,2.0,0.0,0,NaN,True,SIDESWIPE - SAME DIRECTION,12,MOTOR VEHICLE IN TRANSPORT,MAIN ST & N 7TH ST,NASHVILLE,TN,37206.0,36.1745,-86.7609,12,2020
113069,20200749448,2020-12-05 18:04:00,2.0,0.0,0,NaN,True,Front to Rear,12,MOTOR VEHICLE IN TRANSPORT,MM 56 3 I 24,NASHVILLE,TN,37211.0,36.0778,-86.6951,12,2020
113012,20200749731,2020-12-05 21:42:00,1.0,0.0,0,NaN,False,NOT COLLISION W/MOTOR VEHICLE-TRANSPORT,36,CONCRETE TRAFFIC BARRIER,I440 E ENT RAMP & I 65,NASHVILLE,TN,37204.0,36.1138,-86.7719,12,2020

### Drop 2013

In [40]:
nash_traffic_df = nash_traffic_df[nash_traffic_df['year'] > 2013]

# COVID cleaning

### Par down to Davidson

In [47]:
covid_df = covid_df[covid_df['COUNTY'] == 'Davidson']

In [48]:
covid_df

,DATE,COUNTY,TOTAL_CASES,NEW_CASES,TOTAL_CONFIRMED,NEW_CONFIRMED,TOTAL_PROBABLE,NEW_PROBABLE,POS_TESTS,NEW_POS_TESTS,...,NEW_DEATHS,TOTAL_DEATHS,NEW_RECOVERED,TOTAL_RECOVERED,NEW_ACTIVE,TOTAL_ACTIVE,NEW_INACTIVE_RECOVERED,TOTAL_INACTIVE_RECOVERED,NEW_HOSPITALIZED,TOTAL_HOSPITALIZED
2,2020-03-06,Davidson,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,2020-03-08,Davidson,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,2020-03-09,Davidson,1.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,2020-03-10,Davidson,2.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,2020-03-11,Davidson,2.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24757,2020-12-03,Davidson,44813.0,439.0,44037.0,415.0,776.0,24.0,54414.0,500.0,...,4.0,429.0,NaN,NaN,-145.0,2636.0,580.0,41748.0,9.0,1368.0
24854,2020-12-04,Davidson,45276.0,463.0,44494.0,457.0,782.0,6.0,54921.0,507.0,...,5.0,434.0,NaN,NaN,31.0,2667.0,427.0,42175.0,6.0,1374.0
24951,2020-12-05,Davidson,45733.0,457.0,44932.0,438.0,801.0,19.0,55427.0,506.0,...,1.0,435.0,NaN,NaN,6.0,2673.0,450.0,42625.0,10.0,1384.0
25048,2020-12-06,Davidson,45923.0,190.0,45107.0,175.0,816.0,15.0,55602.0,175.0,...,3.0,438.0,NaN,NaN,-86.0,2587.0,273.0,42898.0,3.0,1387.0
25145,2020-12-07,Davidson,46491.0,568.0,45671.0,564.0,820.0,4.0,56262.0,660.0,...,2.0,440.0,NaN,NaN,374.0,2961.0,192.0,43090.0,1.0,1388.0

### Exports

In [49]:
nash_traffic_df.to_csv('../Data/Cleaned_data/nash_traffic.csv')

In [50]:
covid_df.to_csv('../Data/Cleaned_data/Davidson_Covid.csv')